input {
  outline: none !important;
  box-shadow:none !important;
  border:none !important;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

[class*="btn-"] .focus, [class*="btn-"] .active {
  outline: none !important;
  box-shadow: none !important;
}

.border-bottom {
  border-width: 0.15em !important;
}

.caret {
  position: absolute;
  margin-top: 4px;
  margin-left: 4px;
  height: 2em;
  width: 1.3em;
  z-index: -1;
  background: orange;
  animation-name: blink;
  animation-iteration-count: infinite;
  animation-duration: 1s;}

@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
